
body {
    margin: 0;
    padding: 0;
}

#messages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 64px;
    border: 1px solid silver;
    overflow-y: scroll;
    box-shadow: inset 4px 4px 8px rgba(0,0,0,0.3);
    margin: 0;
    padding: 12px;
    background-color: #f5f5f5;
}

.chat-message {
    position: relative;
    display: block;
    font-family: arial;
    font-size: 14pt;
    min-height: 32px;
    padding: 0;
    margin: 0 0 12px;
}

.avatar {
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    background-color: black;
    border-radius: 3px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.avatar > img {
    width: 32px;
    height: 32px;
}

.message {
    margin-left: 32px;
    padding-left: 12px;
}

.message-title {
    border: 1px solid silver;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    box-sizing: border-box;
    height: 32px;
    line-height: 32px;
    color: gray;
    padding: 0 6px;
    background-color: #f0f0f0;
}

.message-body {
    border: 1px solid silver;
    border-radius: 0 0 4px 4px;
    background-color: white;
    padding: 0 6px;
}

.message-body > p {
    margin: 6px 0;
}

.server-message {
    font-family: arial;
    font-size: 10pt;
    font-style: italic;
    text-align: left;
    background-color: transparent;
    box-shadow: none;
    color: #565656;
    margin: 0 6px 6px 54px;
}

form {
    position: absolute;
    height: 64px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

#input {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 128px);
    height: 64px;
    margin: 0;
    padding: 8px 12px;
    line-height: 1.3em;
    font-size: 14pt;
    border: none;
}

#send {
    position: absolute;
    top: 0;
    right: 0;
    width: 128px;
    bottom: 0;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    background-color: steelblue;
    border: none;
}

